In [47]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from Packages import sparkBuilder as sB
from pyspark.sql.functions import col,lit

In [48]:
if __name__=="__main__":
    spark=sB.build()  #Xây SparkSession thì mới chạy được trên PyCharm

In [49]:
data=[(1,'Phuoc','ThaiBinh','20'),(2,'Loc','HaNoi','21')]
columns=['id','name','address','age']
df=spark.createDataFrame(data=data,schema=columns)
df.show()

+---+-----+--------+---+
| id| name| address|age|
+---+-----+--------+---+
|  1|Phuoc|ThaiBinh| 20|
|  2|  Loc|   HaNoi| 21|
+---+-----+--------+---+

In [50]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- age: string (nullable = true)

In [51]:
df1=df.withColumn('age',df.age.cast("Integer")) # Đổi datatype của cột age từ string thành integer
# df1=df.withColumn('age2',df.age.cast("Integer")) : Thêm một cột mới tên là age2 , kiểu dữ liệu integer
df1.show()

+---+-----+--------+---+
| id| name| address|age|
+---+-----+--------+---+
|  1|Phuoc|ThaiBinh| 20|
|  2|  Loc|   HaNoi| 21|
+---+-----+--------+---+

In [52]:
df1=df.withColumn('age',df.age.cast("Integer") * 2)
df1.show()

+---+-----+--------+---+
| id| name| address|age|
+---+-----+--------+---+
|  1|Phuoc|ThaiBinh| 40|
|  2|  Loc|   HaNoi| 42|
+---+-----+--------+---+

In [53]:
print(help(lit))

Help on function lit in module pyspark.sql.functions:

lit(col: Any) -> pyspark.sql.column.Column
    Creates a :class:`~pyspark.sql.Column` of literal value.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    col : :class:`~pyspark.sql.Column`, str, int, float, bool or list, NumPy literals or ndarray.
        the value to make it as a PySpark literal. If a column is passed,
        it returns the column as is.

        .. versionchanged:: 3.4.0
            Since 3.4.0, it supports the list type.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        the literal instance.

    Examples
    --------
    >>> df = spark.range(1)
    >>> df.select(lit(5).alias('height'), df.id).show()
    +------+---+
    |height| id|
    +------+---+
    |     5|  0|
    +------+---+

    Create a literal from a list.

    >>> spark.range(1).select(lit([1, 2, 3])).show()
    +--------------+
    |array(1, 2, 3)|
    +--------------+
    |     [1, 2, 3]|
    +--------------+

None

In [57]:
df1=df1.withColumn('country',lit('VietNam')) # Tạo cột mới tên country
df1.show()

+---+-----+--------+---+-------+
| id| name| address|age|country|
+---+-----+--------+---+-------+
|  1|Phuoc|ThaiBinh| 40|VietNam|
|  2|  Loc|   HaNoi| 42|VietNam|
+---+-----+--------+---+-------+

In [58]:
df1=df1.withColumnRenamed('country','nation') # Đổi tên cột country thành nation
df1.show()

+---+-----+--------+---+-------+
| id| name| address|age| nation|
+---+-----+--------+---+-------+
|  1|Phuoc|ThaiBinh| 40|VietNam|
|  2|  Loc|   HaNoi| 42|VietNam|
+---+-----+--------+---+-------+